.pictures {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 32px;
  columns: 3 120px;
  gap: 8px;
}

.picture-container {
  flex: 1 0 auto; /* Makes image containers flexible */
  align-items: stretch;
  margin-bottom: 10px;
}

.image {
  
  max-width: 100%;
  object-fit: cover;
  height: auto;
  display: block;
}

.picture-container {
  position: relative;
  overflow: hidden;
}

.picture-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.picture-container:hover::before {
  opacity: 1; /* Muestra la capa de difuminado al pasar el mouse */
}

.icon {
  display: none;
  width: 30px;
  position: absolute;
  top: 10px; /* Ajusta esta posición según tu diseño */
  right: 15px; /* Ajusta esta posición según tu diseño */
  z-index: 1; /* Asegura que el icono esté por encima de la imagen */
  cursor: pointer;
  transition: opacity 0.3s ease-in-out; /* Cambio de opacidad para una transición suave */
}

.author-name {
  display: none;
  font-size: 18px;
  position: absolute;
  bottom: 0; /* Se coloca en la esquina inferior */
  left: 0; /* Se coloca en la esquina izquierda */
  z-index: 1;
  padding: 10px; /* Agrega un poco de espacio para que no se superponga con el contenido */
  color: white; /* Asegura que el texto sea visible en cualquier fondo */
  transition: opacity 0.3s ease-in-out;
}

.picture-container:hover .icon {
  display: block;
}

.picture-container:hover .author-name {
  display: block;
}
